/* Εύρεση τμημάτων κώδικα - αναζήτηση με βάση τα παρακάτω σχόλια
 * Γενικές ρυθμίσεις σελιδών
 * Δημιουργία μενού
 * Δημιουργία aside
 * Δημιουργία footer
 * Δημιουργία βασικού τίτλου h1
 * Δημιουργία πινάκων - περιεχομένων
 * Δημιουργία αστεριών για αξιολόγηση
 * Στοιχεία αρχικής σελίδας - index
 * Στοιχεία σελίδας - about-us
 * Στοιχεία σελιδών που περιέχουν το book / το lecture 
    - machine-learning-book / lecture
 * Στοιχεία σελίδας - categories
 * Στοιχεία σελιδών που περιέχουν το book + το lecture
    - machine-learning / cyber-security
 **************************************************************************
 * Θέτουμε μια γενική διάταξη της σελίδας (κοινή για όλες)
 * Θέτουμε την διάταξη στην σελίδα index
 * Θέτουμε την διάταξη στην σελίδα categories
 * Θέτουμε την διάταξη στην σελίδα about-us
 * Θέτουμε την διάταξη στις σελίδες machine-learning / cyber-security
 * Θέτουμε την διάταξη στην σελίδα machine-learning-book
 * Θέτουμε την διάταξη στην σελίδα machine-learning-lecture
 **************************************************************************
 * Ρυθμίζουμε όλα τα στοιχεία έτσι ώστε να εμφανίζονται σε οθόνη 
   με μέγιστο μέγεθος ίση με 480px
 * Ρυθμίζουμε όλα τα στοιχεία έτσι ώστε να εμφανίζονται σε οθόνη 
   με μέγιστο μέγεθος ίση με 960px
***************************************************************************
 * Στοιχεία σελίδας - registration
 * Θέτουμε την διάταξη στην σελίδα registration
*/

/* Γενικές ρυθμίσεις σελιδών */
/* Θέτουμε στην ψευδο-κλάση root τα χρώματα που θα χρησιμοποιήσουμε */
:root {
    --background-color: #fae5d3;
    --primary-color: #74282b;
    --about-us-color1: rgb(255, 128, 192);
    --about-us-color2: rgb(100, 149, 237);
    --categories-color1: rgb(0, 179, 255);
    --categories-color2: rgb(255, 162, 0);
    --categories-color3: rgb(0, 255, 102);
    --sub-categories-color1: red;
    --sub-categories-color2: rgb(255, 0, 187);
    --sub-categories-color3: rgb(79, 214, 79);
    --sub-categories-color4: rgb(249, 252, 80);
}


/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Θέτουμε στο body το background, το font και το margin καθε σελίδας */
body {
    margin: 0em;
    font-family: sans-serif;
    background-color: var(--background-color);
}

/* Θέτουμε σε όλα τα λινκς χρώμα και υπογράμμιση, όταν το ποντίκι πηγαίνει επάνω */
.hover a:hover {
    color: white;
    text-decoration: underline !important;
}


/* Θέτουμε χρώμα και font για όλα τα header */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    font-family: 'Roboto';
}

/* Δημιουργία footer */
/* Θέτουμε background color, χρώμα γραμμάτων, margin-top και clear στο footer κάθε σελίδας */
footer {
    grid-area: footer;
    background-color: #590c06;
    color: #fffbfb;
    clear: both;
    margin-top: 100px;
}

/* Εφαρμόζουμε διάταξη στα άμεσα παιδιά του upper-footer */
#upper-footer>* {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    text-align: center;
}

/* Θέτουμε το στυλ στην παράγραφο του upper-footer */
#upper-footer p {
    font-size: 1em;
    max-width: 25rem;
    margin: 0em;
}

/* Το footer χωρίζεται σε 2 μέρη (upper/lower), αυτό είναι το upper  */
#upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}

/* Θέτουμε τα h2 του footer margin, color και font size*/
footer h2 {
    font-size: 1.3em;
    color: #e0e0e0;
    margin: 0.5em;
    text-decoration: underline;
}

/* Θέτουμε τα address που είναι αδέρφια του h2 (επόμενα) και βρίσκονται στο upper footer padding και font size*/
#upper-footer h2+address {
    font-size: 1em;
}

/* Θέτουμε στα <a> που βρίσκονται στο upper footer (παιδιά του) font size, color και text-decoration */
#upper-footer a {
    font-size: 1em;
    color: #e0e0e0;
    text-decoration: none;
}

/* Θέτουμε τις λίστες του footer padding, margin, text-align, list-style-type */
footer ul {
    padding: 0px 0px;
    list-style-type: none;
    margin: 0px;
    text-align: center;
}

/* Θέτουμε σε όλα  */
#policies a {
    width: 150px;
    height: 100px;
    margin: 0px;
}

/* Θέτουμε το div του footer που περιέχει τα social media links */
#social-links ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

/* Θέτουμε τις εικόνες που βρίσκονται μέσα στα social links (είναι απόγονοι) */
#social-links img {
    height: 20px;
    width: 20px;
}

/* Θέτουμε το height του lower footer */
#lower-footer {
    padding: 0.5em 0 0 0.5em;
    /* height: 30px; */
    border-top: 0.5px solid black;
    margin-top: 0.5em;
}

#lower-footer p {
    margin: 0em;
}

/* Θέτουμε την μετατροπή στις εικόνες του social links όταν γίνονται hover */
#social-links img:hover {
    transform: scale(1.2);
}

/**********************************************************/

/* Δημιουργία βασικού τίτλου h1 */
/* Θέτουμε τον τίτλο h1 που υπάρχει σε κάθε σελίδα*/
.main-title h1 {
    text-align: center;
    font-size: 30px;
    color: var(--primary-color);
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: 27px 0;
    grid-gap: 30px;
    /*20*/
    align-items: center;
}

/* Δημιουργούμε 2 γραμμές πριν και μετά το main-title h1 για στυλιστικους λογους */
.main-title h1:after,
.main-title h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
    background-color: #f8f8f8;
}

/* Δημιουργία πινάκων - περιεχομένων */
/* Ο πίνακας των lecture και book έχει width, το border γινεται collapse και έχει ένα margin top */
#chapter-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Θέτουμε το caption του πίνακα */
#chapter-table caption {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    color: #333333;
    caption-side: bottom;
    text-align: center;
}

/* Θέτουμε τα table header και table data του πίνακα */
#chapter-table th,
#chapter-table td {
    padding: 12px 15px;
    text-align: left;
}

/* Θέτουμε την πρώτη στήλη με data του πίνακα  */
#chapter-table td:first-child {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}

/* Θέτουμε τα table header του πίνακα */
#chapter-table th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

/* Θέτουμε κάθε δεύτερη γραμμή του πίνακα (2,4,6,..) με ανοιχτό γκρι χρώμα */
#chapter-table tr:nth-child(even) {
    background-color: #d7cbcb;
}

/* Θέτουμε τις υπόλοιπες γραμμές του πίνακα (1,3,5,..) με λευκό χρώμα */
#chapter-table tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Θέτουμε τα a που είναι απόγονοι των table data -επίσης απόγονοι- του chapter table*/
#chapter-table td a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

/* Θέτουμε τα th και td του chapter table */
#chapter-table th,
#chapter-table td {
    border: 1px solid #dddddd;
}

/* Θέτουμε χρώμα και θέση για τον τίτλο του πίνακα της διάλεξης*/
#chapter-table>thead>tr:first-child th {
    background-color: white;
    color: var(--primary-color);
    text-align: center;
}

/* Δημιουργία αστεριών για αξιολόγηση */
/* Θέτουμε τα αστέρια της αξιολόγησης των βιβλίων και των διαλέξεων */
.stars {
    color: gold;
    text-decoration: none;
}

/* Στοιχεία αρχικής σελίδας - index */
/* Θέτουμε το index-info-box το οποίο αποτελεί ένα container για το κείμενο της αρχικής σελίδας  */
.index-info-box {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    font-size: large;
    margin-bottom: 40px;
}

/* Στοιχεία σελίδας - about-us */
/* Κλάση about-us για τα article που περιέχουν τα στοιχεία. Γίνεται χρήση του grid ώστε να τοποθετηθεί
στην πρώτη γραμμή το ονοματεπώνυμο και στη δεύτερη η εικόνα και η περιγραφή*/
.about-us {
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    margin: 1em;
    font-size: 12pt;
    display: grid;
    grid-template-areas:
        'name name'
        'card text';
    grid-template-columns: auto 1fr;
}

/* Θέτουμε το text-align για τα h2 των about-us. Καταλαμβάνει την περιοχή name στο grid*/
.about-us h2 {
    grid-area: name;
    text-align: center;
}

/* Θέτουμε τα p που είναι απόγονοι των about-us. Καταλαμβάνει την περιοχή text στο grid */
.about-us p {
    grid-area: text;
    margin-top: 2em;
}

/* Το about-card αποτελεί κλάση για ένα div (container) το οποίο έχει 2 όψεις. Από τη μία πλευρά βρίσκεται η εικόνα και από την 
άλλη τα social media */
.about-card {
    overflow: hidden;
    padding: 0.4rem;
    width: 10rem;
    height: 15rem;
}

/* Το εσωτερικό του about-card. Κλάση για div που είναι παιδί του about-card. Θέτουμε width, height, 
3d transform-style και transition time */
.about-card-inside {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 2s;
}

/* Θέτουμε about-card-inside να κάνει rotate στον άξονα y όταν γίνεται hover το about-card*/
.about-card:hover .about-card-inside {
    transform: rotateY(180deg);
}

/* Θέτουμε τις δύο όψεις του about-card front και back. Καταλαμβάνει την περιοχή card στο grid */
.about-card-front,
.about-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    transition: transform 0.6s;
    border-radius: 1rem;
    box-sizing: border-box;
    grid-area: card;
}

/* Θέτουμε την μπροστά όψη του about-card */
.about-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg);
}

/* Θέτουμε την πίσω όψη του about-card */
.about-card-back {
    border: solid 2px white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

/* Θέτουμε την εικόνα που είναι απόγονος του about-card-front */
.about-card-front img {
    width: 100%;
    /* height: 95%; */
    border-radius: 1rem;
}

/* Θέτουμε τη λίστα που είναι απόγονος του about-card (λίστα με links) */
.about-card ul {
    list-style-type: none;
    padding: 1em;
    text-align: center;
}

/* Θέτουμε τα a που είναι απόγονοι του ul -επίσης απόγονοι- του about-card*/
.about-card ul a {
    text-decoration: none;
    color: white;
    font-size: 11pt;
}

/* Θέτουμε το h3 που είναι απόγονος του about-card */
.about-card h3 {
    text-decoration: underline;
    text-align: center;
    font-size: 13pt;
    color: white;
    position: absolute;
    top: 0.5em
}

/* Αλλαγή του χρώματος του 1ου article */
.about-us:first-of-type {
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 192, 235), rgb(255, 128, 192), rgb(180, 120, 200));
}

/* Αλλαγή του χρώματος του 2ου article */
.about-us:last-of-type {
    background: linear-gradient(to left, rgb(240, 248, 255), rgb(173, 216, 230), rgb(100, 149, 237), rgb(70, 130, 180));
}

/* Αλλαγή του χρώματος της πίσω όψης του about-card 2ου article */
.about-us .about-card-back {
    background-color: var(--about-us-color1);
}

/* Αλλαγή του χρώματος της πίσω όψης του about-card 2ου article */
.about-us:last-of-type .about-card-back {
    background-color: var(--about-us-color2);
}

/* Στοιχεία σελιδών που περιέχουν το book / το lecture 
    - machine-learning-book / lecture */
/* Θέτουμε τα h2 για τα header με id books και lectures */
#books h2,
#lectures h2 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    padding: 0em;
}

/* Κλάση για τα article των βιβλίων */
#info-book {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}

/* Θέτουμε την εικόνα που είναι παιδί του info-book */
#info-book>img {
    width: 450px;
    border: 2px solid black;
    margin-bottom: 50px;
}

/* Θέτουμε το div με class book-lecture-information το οποίο περιέχει τις πληροφορίες των βιβλίων και των lecture */
.book-lecture-information {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    font-size: large;
}

/* Θέτουμε τα ul που είναι παιδιά του book-lecture-information */
.book-lecture-information>ul {
    font-size: large;
    text-align: center;
    color: rgb(232, 19, 19);
    list-style-type: none;
    padding: 30px;
}

/* Θέτουμε τα list items που είναι απόγονοι του book-lecture-information */
.book-lecture-information li {
    line-height: 1.5em;
}

/* Θέτουμε το μέγεθος των γραμμάτων της παραγράφου*/
.book-lecture-information p {
    font-size: medium;
}

/* Θέτουμε τα figure που βρίσκονται στις σελίδες με το lecture και το book */
figure {
    text-align: center;
    font-style: italic;
}

/* Θέτουμε τις εικόνες που είναι απόγονοι του article, τα οποία είναι αδέρφια element με id books */
#books~article img {
    height: auto;
    border: 1px solid black;
}

/* Θέτουμε τα a που το href ξεκινάει με #chapter, είτε ξεκινάει με #table και τα a που είναι αδέρφια element με id 
info-book είτε με id info-lecture */
a[href^="#chapter"],
a[href^="#table"],
#books~a,
#lectures~a {
    color: var(--primary-color);
    margin-top: 30px;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: large;
    text-decoration: none;
}

/* Θέτουμε την ψευδοκλάση hover στα a που αναφέρθηκαν παραπάνω */
a[href^="#chapter"]:hover,
a[href^="#table"]:hover,
#books~a:hover,
#lectures~a :hover {
    color: var(--primary-color);
}

/* Θέτουμε τα h3 που είναι παιδιά του article, τα οποία είναι αδέρφια element με id books */
#books~article>h3 {
    color: var(--primary-color);
    font-size: large;
    margin-top: 30px;
}

/* Κλάση για τα article των lecture */
#info-lecture {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}

/* Θέτουμε την img που είναι παιδί element με id info lectures */
#info-lecture>img {
    width: 450px;
    border: 2px solid black;
}

/* Κλάση videos για τα lectures */
.videos {
    width: 100%;
    height: 350px;
}

/* Στοιχεία σελίδας - categories */
/* Κλάση για τα articles της σελίδας με τις κατηγορίες */
.categories-info {
    background-color: var(--primary-color);
    border-radius: 2rem;
    font-size: 10pt;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Θέτουμε τις εικόνες των κατηγοριών */
.categories-info img {
    padding: 0.5em;
}

/* Θέτουμε τα a των κατηγοριών */
.categories-info a {
    text-decoration: none;
    color: black;
}

/* Θέτουμε το articlebox, μία κλάση για τα articles των categories. Ορίζουμε τη διάταξη flex column ώστε να είναι διατεταγμένα
σε μία στήλη, ενώ με το align-items:center το τοποθετούμε στο κέντρο του άξονα */
.articlebox {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 4px solid black;
}

/* θετουμε τα h2 που είναι παιδιά των articlebox */
.articlebox>h2 {
    color: white;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    padding: 0em;
}

/* Θέτουμε τα list items που είναι απόγονοι των articlebox */
.articlebox li {
    list-style-type: none;
    font-size: 1em;
    display: inline-block;
    padding: 9px 15px;
    margin: 5px;
    background-color: lightgray;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

/* Θέτουμε το χρώμα στα articlebox και στα list items τους */
.articlebox ul li:nth-child(1) {
    background-color: var(--sub-categories-color1);
}

.articlebox ul li:nth-child(2) {
    background-color: var(--sub-categories-color2);
}

.articlebox ul li:nth-child(3) {
    background-color: var(--sub-categories-color3);
}

.articlebox ul li:nth-child(4) {
    background-color: var(--sub-categories-color4);
}

.articlebox li:nth-of-type(3) {
    color: rgb(20, 14, 5);
}

/* Θέτουμε τη διάταξη flex στη λίστα με τις υποκατηγορίες των μαθημάτων ώστε να τοποθετούνται σε μία στήλη*/
.articlebox>ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0px;
}

/* Θέτουμε κάθε πλαίσιο του μαθήματος με διαφορετικό χρώμα */
.articlebox~article:nth-of-type(2) {
    background-color: var(--categories-color1);
}

.articlebox~article:nth-of-type(3) {
    background-color: var(--categories-color2);
}

.articlebox~article:last-of-type {
    background-color: var(--categories-color3);
}

/* Στοιχεία σελιδών που περιέχουν το book + το lecture
    - machine-learning / cyber-security */
/* Θέτουμε το h2 που είναι απόγονοι element με κλαση lesson */
.lesson h2 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    padding: 0em;
    color: white;
}

/* Θέτουμε τα p που περιέχουν το link σε καθε βιβλίο-διάλεξη. Τα p αυτα είναι τα τελευταία p που βρίσκονται μέσα σε article (απόγονοι) 
που είναι παιδιά element με class lesson-box */
.lesson-box article p:last-of-type {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: var(--primary-color);
    padding: 0px;
    border-radius: 5px;
    margin: 10px;
    font-size: medium;
    margin-bottom: 40px;
    text-align: center;
}

/* Θέτουμε color και text decoration στα link προς το βιβλίο-διάλεξη */
.lesson-box article p:last-of-type a {
    color: white;
    text-decoration: none;
}

/* Κλάση lesson box περιέχει τα βιβλία και τις διαλέξεις */
.lesson-box {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin: 0.3em;
    font-size: large;
    margin-bottom: 40px;
    background-color: var(--primary-color);
}

/* Κλάση για τα article των μαθημάτων */
.information {
    margin: 4em 0.5em;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 1em;
    font-size: 10pt;
    overflow: hidden;
}

/* Θέτουμε το h3 που είναι απόγονοι element με κλάση information */
.information h3 {
    color: var(--primary-color);
    font-size: medium;
    text-align: center;
}

/* Θέτουμε το img που είναι απόγονοι element με κλάση information */
.information img {
    /* width: 12em;
    height: 15em; */
    padding: 0%;
}

/* Θέτουμε το em που είναι απόγονος του ul, το οποίο είναι απόγονος element με κλάση information */
.information ul em {
    font-weight: bold;
    font-size: 11pt;
}

/* Θέτουμε το ul που είναι παιδί element με κλάση information και περιέχει τις πληροφορίες των βιβλίων-μαθημάτων */
.information>ul {
    margin-left: 10rem;

}

/* Θέτουμε το p που είναι παιδί element με κλάση information και περιέχει την περιγραφή των βιβλίων-μαθημάτων */
.information>p {
    margin-top: 2em;
}

/* Θέτουμε το μέγεθος και την θέση των παραγράφων που ανήκουν στην κλάση information και έχουν αδέρφια άλλες παραγράφους*/
.information p~p {
    font-size: 11pt;
    text-align: center;
}

/* Κλάση για το details που περιέχει την εικόνα και τις πληροφορίες του βιβλίου-διάλεξης*/
.lesson-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 470px;
    position: relative;
    background-color: white;
    border: 0px solid;
    border-radius: 5px;
}

/* Κλάση για το μήνυμα που εφμανίζεται πάνω από την εικόνα. Το θέλουμε σταθερό στο κέντρο και να μην αλλάζει όταν το detail 
γίνεται open */
.lesson-cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

/* Θέτουμε την εικόνα για το βιβλίο-διάλεξη */
.lesson-image>img {
    max-width: 100%;
    transition: opacity 0.6s ease;
}

/* Θέτουμε το πλαίσιο για την κάθε διάλεξη και για το κάθε βιβλίο στα 2 μαθήματα*/
.info-box {
    border: 0px solid black;
    padding: 0px;
    border-radius: 5px;
    margin: 10px;
    font-size: medium;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Το μήνυμα που εμφανίζεται πάνω από την εικόνα όταν την κάνουμε hover */
.hover-message-book-lecture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

/* Θέτουμε το opacity για την εμφάνιση του μηνύματος όταν γίνεται hover η εικόνα */
.lesson-image:hover .hover-message-book-lecture {
    opacity: 1;
}

/* Δημιουργία aside */
/* Θέτουμε το στυλ του aside-bar*/
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    grid-area: aside;
    height: fit-content;
    position: sticky;
    top: 190px;
    margin-bottom: 220px;
    margin-top: 400px;
    margin-left: 30px;
    background-color: var(--primary-color);
    color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    font-size: 1rem;
}

/* Θέτουμε το στυλ του τίτλου του aside-bar*/
aside h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

/* Αφαιρούμε τις μπροστινές κουκίδες από τη λίστα του aside-bar*/
aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Θέτουμε το στυλ για τη λίστα του aside-bar*/
aside ul li {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

/* Αφαιρούμε την υπογράμμιση από τα λινκ της λίστα του aside-bar*/
aside ul li a {
    text-decoration: none;
}

/* Θέτουμε χρώμα και κίνηση στο κάθε πλαίσιο της λίστας, όταν το ποντίκι βρίσκεται επάνω*/
aside ul li:hover {
    background-color: #9e4a4d;
    transform: translateY(-5px);
}

/* Θέτουμε χρώμα στα λινκ της λίστας, όταν το ποντίκι βρίσκεται επάνω*/
aside ul li:hover a {
    color: white;
}

/* Θέτουμε το στυλ για τις ημερομηνίες της λίστας του aside-bar*/
aside ul li span {
    display: block;
    font-size: 0.9rem;
    color: black;
}

/* Θέτουμε το "περισσότερα" του aside-bar να είναι στο κέντρο*/
aside #aside-more {
    text-align: center;
}

/* Θέτουμε το λινκ του "περρισσότερα" στο aside-bar να είναι άσπρο και χωρίς υπογράμμιση*/
aside #aside-more a {
    color: white;
    text-decoration: none;
}


/********************************************************/

/* Δημιουργία μενού */
/* Φτιάχνουμε την εμφάνιση του μενού */
/* Θέτουμε συγκεκριμένο μέγεθος γραμμάτων στα στοιχεία του aueb-header*/
#aueb-header * {
    font-size: 12px;
}

/* Ρυθμίζουμε την εμφάνιση του header */
#aueb-header {
    grid-area: header;
    position: fixed;
    z-index: 10;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
}

/* Ορίζουμε την εικόνα να βρίσκεται στην ίδια γραμμή με άλλα στοιχεία */
#aueb-header>img {
    display: inline-block;
}

/* Θέτουμε την διάταξη για το navigation */
#aueb-header>nav {
    border-top: 0.5px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Θέτουμε την βασική διάταξη της λίστας */
.nav-style {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    /* width: 100%; */
}

/* Θέτουμε το χρώμα και το decoration στα a στοιχεία */
.nav-content a {
    color: white;
    text-decoration: none;
}

/* Θέτουμε το στυλ για τα στοιχεία του πρώτου επιπέδου */
.nav-style>li {
    position: relative;
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    border-right: 1px solid black;
    width: 10em;
}

/* Θέτουμε την διάταξη για το δεύτερο επίπεδο της λίστας */
.nav-style li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(89, 12, 6);
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 10;
    list-style: none;
}

/* Θέτουμε το στυλ για τα στοιχεία του υπομενού */
.nav-style li ul li {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    background-color: rgb(89, 12, 6);
    border-bottom: 1px solid black;
    list-style: none;
}

/* Θέτουμε την εμφάνιση του υπομενού όταν το ποντίκι βρίσκεται πάνω */
.nav-style>li:hover>ul {
    display: block;
}

/* Θέτουμε το χρώμα του υπομενού όταν το ποντίκι βρίσκεται πάνω */
.nav-style li ul li:hover {
    background-color: #9e4a4d;
}

/* Θέτουμε την διάταξη για το τρίτο επίπεδο της λίστας */
.nav-style li ul li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #9e4a4d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
}

/* Θέτουμε την εμφάνιση του υπομενού όταν το ποντίκι βρίσκεται πάνω */
.nav-style li ul li:hover>ul {
    display: block;
}

/* Θέτουμε στο logo του navigation (παιδί του nav) ύψος, πλάτος, margin-right και border*/
nav>img {
    height: 4em;
    width: 4em;
    border: 2px solid var(--primary-color);
    text-align: start;
}

/* Θέτουμε την κεντρική εικόνα του header */
#aueb-header>img {
    padding: 0.5em;
    height: 5em;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

/* Θέτουμε μια γενική διάταξη της σελίδας (κοινή για όλες)*/
/* Αποτελείται από 3 στήλες */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto auto;
    /* row-gap: 3rem; */
    min-height: 100vh;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

/* Θέτουμε την διάταξη στην σελίδα index */
/* Ορίζουμε την διάταξη της αρχικής σελίδας */
.wrapper-index {
    row-gap: 0;
    grid-template-areas:
        'header header header'
        'introduction introduction aside'
        'footer footer footer';
}

/* Θέτουμε το στυλ για το τμήμα του main */
.introduction {
    grid-area: introduction;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 200px;
    align-items: center;
}

/* Θέτουμε την διάταξη της εικόνας και της παραγράφου */
#introduction-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Θέτουμε το μέγεθος της εικόνας και το περίγραμμά της*/
#introduction-wrapper img {
    max-width: 100%;
    height: auto;
    border: 0.5px solid black;
}

/* Θέτουμε padding, font-size και text-align για
την παράγραφο που βρίσκεται στο index*/
#introduction-wrapper p {
    padding: 10px;
    font-size: 0.9rem;
    text-align: justify;
}

/* Θέτουμε την διάταξη στην σελίδα categories */
/* Ορίζουμε την διάταξη της σελίδας categories*/
.wrapper-categories {
    row-gap: 0;
    grid-template-areas:
        'header header header'
        'categories categories aside'
        'footer footer footer';
}

/* Θέτουμε το στυλ για το τμήμα του main */
.categories {
    grid-area: categories;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 3em;
    column-gap: 2em;
    justify-items: center;
}

/* Θέτουμε το main-title να πιάνει και τις 2 στήλες 
που έχουμε ορίσει στο categories */
.categories .main-title {
    grid-column: span 2;
}

/* Θέτουμε την διάταξη στην σελίδα about-us */
/* Ορίζουμε την διάταξη της σελίδας about-us*/
.wrapper-about-us {
    row-gap: 0;
    grid-template-areas:
        'header header header'
        'about-us about-us aside'
        'footer footer footer';
}

/* Θέτουμε το στυλ για το τμήμα του main */
.wr-about-us {
    grid-area: about-us;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
    margin-top: 200px;
}

/* Θέτουμε την διάταξη στις σελίδες machine-learning / cyber-security */
/* Ορίζουμε την διάταξη των σελιδών cyber-security και machine-learning*/
.wrapper-lesson {
    row-gap: 0;
    grid-template-areas:
        'header header header'
        'lesson lesson aside'
        'footer footer footer';
}

/* Θέτουμε το στυλ για το τμήμα του main */
.wr-lesson {
    grid-area: lesson;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
    margin-top: 200px;
}

/* Θέτουμε τις στήλες του main-title στις σελίδες που
παρουσιάζουμε το βιβλίο και την διάλεξη, λόγω του 
μεγάλου σε μήκους τίτλου*/
.wr-lecture .main-title h1,
.wr-book .main-title h1 {
    grid-template-columns: 7fr 6fr 7fr;
}

/* Θέτουμε τη διάταξη για τα 2 πλαίσια που αφορούν τα βιβλία και 
τις διαλέξεις των 2 μαθημάτων που έχουμε επιλέξει */
.lecture-book-container {
    display: flex;
    flex-flow: row nowrap;
}

/* Θέτουμε το χρώμα και το μέγεθος του header */
.lecture-book-container header {
    background-color: white;
    width: 100%;
}

/* Θέτουμε την διάταξη στην σελίδα machine-learning-book */
/* Ορίζουμε την διάταξη της σελίδας με το βιβλίο*/
.wrapper-book {
    row-gap: 0;
    grid-template-areas:
        'header header header'
        'book book aside'
        'footer footer footer';
}

/* Θέτουμε το στυλ για το τμήμα του main */
.wr-book {
    grid-area: book;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
    margin-top: 200px;
    align-items: flex-start;
}

/* Θέτουμε τη διάταξη με τις πληροφορίες του βιβλίου*/
.flex-container {
    display: flex;
    align-items: flex-start;
    gap: 2em;
}

/* Θέτουμε το ύψος της εικόνας */
.flex-container img {
    height: auto;
}

/* Θέτουμε τη διάταξη με τα περιεχόμενα του βιβλίου*/
.flex-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Θέτουμε την διάταξη στην σελίδα machine-learning-lecture */
/* Ορίζουμε την διάταξη της σελίδας με την διάλεξη*/
.wrapper-lecture {
    row-gap: 0;
    grid-template-areas:
        'header header header'
        'lecture lecture aside'
        'footer footer footer';
}

/* Θέτουμε το στυλ για το τμήμα του main */
.wr-lecture {
    grid-area: lecture;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
    margin-top: 200px;
    align-items: flex-start;
}

/* Θέτουμε τη διάταξη με τις πληροφορίες της διάλεξης*/
.flex-lecture-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Θέτουμε τη διάταξη με τα περιεχόμενα της διάλεξης*/
.flex-lecture-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 150px; */
}

/****************************************************************/

/* Θέτουμε όλες τις εικόνες να έχουν μέγιστο πλάτος 100%*/
img {
    max-width: 100%;
}

/* Στοιχεία σελίδας - registration */
/* Θέτουμε την διάταξη στην σελίδα registration */
/* Ορίζουμε την διάταξη της σελίδας με την εγγραφή */
.wrapper-register {
    row-gap: 0;
    grid-template-areas:
        'header header header'
        '. title .'
        '. form .'
        'footer footer footer';
}

/* Στοιχεία σελίδας - registration */
/* Θέτουμε το στυλ του τίτλου */
.register-title {
    margin-top: 150px;
    grid-area: title;
}

/* Ορίζουμε το grid-area για το form βάσει της διάταξης της
σελίδας registration */
#register-form {
    grid-area: form;
}

/* Θέτουμε την μορφοποίηση των στοιχείων που αποτελούν input για την σελίδα registration */
input[type=text],
input[type=date],
input[type=tel],
input[type=password],
input[type="checkbox"],
input[type="number"],
input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 0.5em;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    background: white;
}

/* Θέτουμε κόκκινο χρώμα πλαισίου όταν το input είναι invalid */
form input:invalid {
    border-color: red;
}

/* Θέτουμε πράσινο χρώμα πλαισίου όταν το input είναι valid */
form input:valid {
    border-color: green;
}

/* Θέτουμε την γενική διάταξη του τμήματος form */
form {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    width: fit-content;
    justify-self: center;
}

/* Θέτουμε την διάταξη των επιμέρους στοιχείων του τμήματος form */
form fieldset {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    border-radius: 1em;
    margin-bottom: 2em;
}

/* Θέτουμε το στυλ των τίτλων του τμήματος form */
form fieldset legend {
    color: var(--primary-color);
    font-size: 1.4em;
    padding: 0.5em;
}

/* Θέτουμε την διάταξη των στοιχείων που βρίσκονται σε boxes έτσι ώστε
να εμφανίζονται σε μια γραμμή */
.multiple-choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: 2px solid var(--primary-color);
}

/* Θέτουμε την διάταξη του button register */
#btn-register {
    display: flex;
    flex-direction: column;
}

/* Θέτουμε το στυλ του button */
#btn-register button {
    background-color: var(--primary-color);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Θέτουμε hover όταν το ποντίκι πηγαίνει πάνω από το button */
#btn-register button:hover {
    opacity: 1;
}

/* Θετουμε flex στο checkbox για το agreement */
#agreement-checkbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* Θέτουμε το width και το margin του checkbox του agreement */
#cb_agreement {
    width: fit-content;
    margin: 0em;
    margin-right: 0.3em;
}


/* Ρυθμίζουμε όλα τα στοιχεία έτσι ώστε να εμφανίζονται σε οθόνη 
   με μέγιστο μέγεθος ίση με 480px*/
@media screen and (max-width: 480px) {

    /* Δημιουργία μενού */
    /* Θέτουμε το μενού να είναι static */
    #aueb-header {
        position: static;
    }

    /* Διαμορφώνουμε το aueb-header έτσι ώστε να είναι σε στήλη */
    #aueb-header>nav {
        flex-direction: column;
    }

    /* Βάζουμε χρώμα στο padding μέσα στο οποίο περικλύεται η εικόνα */
    nav>img {
        background-color: var(--background-color);
        padding-left: 40%;
        padding-right: 40%;
        margin-left: 0em;
    }

    /* Θέτουμε την βασική διάταξη της λίστας */
    .nav-style {
        flex-direction: column;
        align-items: center;
    }

    /* Θέτουμε το στυλ για τα στοιχεία του πρώτου επιπέδου */
    .nav-style>li {
        width: 100%;
        border-right: none;
        border: 1px solid black;
    }

    /* Θέτουμε το position για το δεύτερο επίπεδο της λίστας */
    .nav-style li ul {
        position: relative;
    }

    /* Θέτουμε το width για τα στοιχεία του υπομενού */
    .nav-style li ul li {
        width: 100%;
    }

    /* Θέτουμε την διάταξη για το τρίτο επίπεδο της λίστας */
    .nav-style li ul li ul {
        position: relative;
        left: 0;
    }

    /* Ρυθμίζουμε την απόσταση του main από το menu*/
    .introduction,
    .categories,
    .wr-lesson,
    .wr-about-us,
    .wr-book,
    .wr-lecture,
    .register-form {
        margin-top: 20px;
    }

    /* Δημιουργία aside */
    /* Φτιάχνουμε την διάταξη του aside bar */
    aside {
        position: static;
        text-align: center;
        margin: 0 auto;
        top: 0px;
        margin-bottom: 0px;
    }

    /* Θέτουμε μια γενική διάταξη της σελίδας (κοινή για όλες)*/
    /* Αποτελείται από 1 στήλη */
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        padding: 0;
        margin: 0 auto;
    }

    /* Θέτουμε την διάταξη στην σελίδα index */
    .wrapper-index {
        grid-template-areas:
            'header'
            'introduction'
            'aside'
            'footer';
    }

    /* Θέτουμε την διάταξη στην σελίδα categories */
    .wrapper-categories {
        grid-template-areas:
            'header'
            'categories'
            'aside'
            'footer';
    }

    /* Ρυθμίζουμε την διάταξη έτσι ώστε ανά γραμμή να εμφανίζεται μία κατηγορία */
    .categories {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    /* Ρυθμίζουμε το πλάτος των articlebox του categories */
    .articlebox {
        width: 90%;
    }

    /* Θέτουμε την διάταξη στην σελίδα machine-learning-book */
    .wrapper-book {
        grid-template-areas:
            'header'
            'book'
            'aside'
            'footer';
    }

    /* Ρυθμίζουμε τα στοιχεία έτσι ώστε να μεταφέρονται σε επόμενες γραμμές */
    .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    /* Θέτουμε την διάταξη στην σελίδα machine-learning-lecture */
    .wrapper-lecture {
        grid-template-areas:
            'header'
            'lecture'
            'aside'
            'footer';
    }

    /* Θέτουμε την διάταξη στις σελίδες machine-learning / cyber-security */
    .wrapper-lesson {
        grid-template-areas:
            'header'
            'lesson'
            'aside'
            'footer';
    }

    /* Ρυθμίζουμε τα στοιχεία έτσι ώστε να μεταφέρονται σε επόμενες γραμμές */
    .lecture-book-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Θέτουμε την διάταξη στην σελίδα about-us */
    .wrapper-about-us {
        grid-template-areas:
            'header'
            'about-us'
            'aside'
            'footer';
    }

    /* Θέτουμε την διάταξη των στοιχείων του about-us */
    .about-us {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    /* Ορίζουμε την διάταξη της σελίδας με την εγγραφή */
    .wrapper-register {
        grid-template-areas:
            'header'
            'title'
            'form'
            'footer';
    }

    /* Θέτουμε το τμήμα του form να είναι κεντραρισμένο */
    form {
        justify-self: center;
    }
}

/* Ρυθμίζουμε όλα τα στοιχεία έτσι ώστε να εμφανίζονται σε οθόνη 
   με μέγιστο μέγεθος ίση με 960px*/
@media screen and (min-width:481px) and (max-width: 960px) {

    /* Θέτουμε την διάταξη του upper-footer*/
    #upper-footer {
        flex-flow: row wrap;
    }

    /* Θέτουμε wrap στη λίστα του nav */
    .nav-style {
        flex-wrap: wrap;
    }

    /* Θέτουμε μια γενική διάταξη της σελίδας (κοινή για όλες)*/
    /* Αποτελείται από 2 στήλες */
    .wrapper {
        grid-template-columns: 3fr 1fr;
        min-height: 100vh;
    }

    /* Θέτουμε την διάταξη στην σελίδα index */
    .wrapper-index {
        grid-template-areas:
            'header header'
            'introduction aside'
            'footer footer';
    }

    /* Θέτουμε την διάταξη στην σελίδα about-us */
    .wrapper-about-us {
        grid-template-areas:
            'header header'
            'about-us aside'
            'footer footer';
    }

    /* Θέτουμε την διάταξη των στοιχείων του about-us */
    .about-us {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    /* Θέτουμε την διάταξη στην σελίδα categories */
    .wrapper-categories {
        grid-template-areas:
            'header header'
            'categories aside'
            'footer footer';
    }

    /* Ρυθμίζουμε την διάταξη έτσι ώστε ανά γραμμή να εμφανίζεται μία κατηγορία */
    .categories {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    /* Ρυθμίζουμε το πλάτος του categories-info */
    .categories-info {
        width: 90%;
    }

    /* Θέτουμε την διάταξη στις σελίδες machine-learning / cyber-security */
    .wrapper-lesson {
        grid-template-areas:
            'header header'
            'lesson aside'
            'footer footer';
    }

    /* Ρυθμίζουμε τα στοιχεία έτσι ώστε να μεταφέρονται σε επόμενες γραμμές */
    .lecture-book-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* Θέτουμε την διάταξη στην σελίδα machine-learning-lecture */
    .wrapper-lecture {
        grid-template-areas:
            'header header'
            'lecture aside'
            'footer footer';
    }

    /* Ρυθμίζουμε το πλάτος του περιεχομένου της διάλεξης */
    .flex-lecture-table {
        width: 90%;
    }

    /* Θέτουμε την διάταξη στην σελίδα machine-learning-book */
    .wrapper-book {
        grid-template-areas:
            'header header'
            'book aside'
            'footer footer';
    }

    /* Ρυθμίζουμε τα στοιχεία έτσι ώστε να μεταφέρονται σε επόμενες γραμμές */
    .flex-container {
        flex-flow: column wrap;
        align-items: center;
    }

    /* Ρυθμίζουμε το πλάτος του πλαισίου με τις πληροφορίες της διάλεξης / του βιβλίου */
    .book-lecture-information {
        width: 90%;
    }

    /* Φτιάχνουμε την διάταξη του aside bar */
    aside {
        width: 80%;
        position: static;
        margin-left: 5px;
    }

    /* Ρυθμίζουμε το μέγεθος των γραμμάτων της h2 */
    aside h2 {
        font-size: 1.2rem;
    }

    /* Ρυθμίζουμε το μέγεθος των γραμμάτων του span */
    aside ul li span {
        font-size: 0.9rem;
    }

    /* Ρυθμίζουμε το μέγεθος των γραμμάτων των a */
    aside ul li a {
        font-size: 0.9rem;
    }

    /* Ρυθμίζουμε το padding των li της λίστας */
    aside ul li {
        padding: 0px;
    }

    /* Ορίζουμε την διάταξη της σελίδας με την εγγραφή */
    .wrapper-register {
        grid-template-areas:
            'header header'
            'title title'
            'form form'
            'footer footer';
    }

    /* Θέτουμε το τμήμα του form να είναι κεντραρισμένο */
    form {
        justify-self: center;
    }
}

/* ---------------------------------------- CSS FIXES FOR PART 2 ---------------------------------------- */


/* -------------------------------- INDEX.HTML -------------------------------- */

/* Ορίζουμε το background των εικόνων, όταν αυτές γίνονται hover */
.hover-img a:hover img{
    background-color: #333;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loading-container img {
    width: 400px;
    height: 400px;
}



/* ------------------------------ CATEGORY.HTML ------------------------------- */

.lecture-book-container{
    flex-wrap: wrap;
    justify-content: center;
}

.lesson-image > img{
    width: 350px;
    height: 400px;
}

.info-box{
    width: 350px;
}

.services-icons{
    display: flex;
    margin-left:auto;
    margin-right:5%;
}

.services-icons i{
    cursor: pointer;
    padding: 10px 15px;
}

.icon-wrapper {
    position: relative;
    text-align: center;
}

.hover-message {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}

#login .hover-message{
    left: 100%;
    top: 30px;
}

.icon-wrapper:hover .hover-message {
    display: block;
}

.login-overlay{
    z-index: 10;
    position: fixed;
    top: 30%;
    left: 40%;
    align-items: center;
    justify-content: center;
}

#login{
    display: none;
    background-color: var(--background-color);
}

.buttons{
    display: flex;
    justify-content: space-between;
}

#login .buttons button{
    background-color: var(--primary-color);
    border-radius: 1em;
    color: white;
    width: 8em;
    cursor: pointer;
}

#login #login-submit-btn{
    background-color: green;
    border-radius: 1em;
    justify-self: flex-start;

}

#close-form-btn{
    display: flex;
    justify-content: flex-end;
}

#close-form-btn i{
    cursor: pointer;
}

#success-login-msg {
    display: none;
    background-color: #dff0d8;
    color: #438c44;
    padding: 20px;
    border: 1px solid #0c1a01;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    position: fixed;
    top: 20%;
    left: 45%;
    z-index: 1000;
}

#fail-login-msg {
    display: none;
    background-color: #f0d8d8;
    color: #c21f1f;
    padding: 20px;
    border: 1px solid #0c1a01;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    position: fixed;
    top: 20%;
    left: 35%;
    z-index: 1000;
}

#login-reset-btn{
    justify-self: flex-end;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}


/* ----------------------------- SUBCATEGORY.HTML ----------------------------- */

#info-book > article {
    margin-left: 1em;
    margin-bottom: 3em;
    border: 0.5px solid black;
    border-radius: 1em;
    padding: 1em;
}

.book-lecture-information{
    width:40em;
    align-self: center;
}

.flex-container img {
    width: 350px;
    height: 400px;
    align-self: center;
}

.wr-book{
    flex-flow: column nowrap;
    align-items: center;
}