:root {
    --primary-color: #74282b;
}

body{
    margin: 0em;
    font-family: serif;
}

h1{
    color :var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

#aueb-header  > img{
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(89, 12, 6));
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.5em;
    clear: both;
}

nav > img{
    float: left;
    height: 4em;
    width: 4em;
    border: 2px solid rgb(89, 12, 6);
    margin: 0px;
}

nav > ul{
    padding: 0px;
}

.nav-style{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

.nav-content a {
    color: white;
    text-decoration: none;
    font-size: small;
}

.nav-style li{
    list-style-type: none;
    background-color: rgb(89, 12, 6);
    border: 2px solid white;
    line-height: 4em;
    width: 12em;
    text-align: center;
    font-weight: bold;
}

.site-img-header > img{
    height: 12em;
    width: 25em;
}

.site-img-header + p{
    font-weight: bold;
    font-size: 1.5em;
}

footer {
    background-color: #590c06;
    color: #fffbfb;
    clear: both;
    margin-top: 100px;
}

#upper-footer {
    margin: 0px;
    padding: 0px;
    height: 150px;
}

#office-info{
    float: left;
}

footer h2{
    font-size: 1.3em;
    margin-bottom: 0px;
    color: #e0e0e0;
    margin: 0px;
}

#upper-footer h2 + address{
    padding: 10px 0px;
    font-size: 1em;
}

#upper-footer  a {
    font-size: 1em;
    color: #e0e0e0;
    text-decoration: none;
}

#policies{
    float: left;
    text-align: center;
    padding-left: 5px;
}

footer  ul{
    padding: 0px 0px;
    list-style-type: none;
    margin: 0px;
    text-align: center;
}

#policies a {
    font-size: 1em;
    width: 150px;
    height: 100px;
    color: #e0e0e0;
    margin: 0px;
}

#social-links {
    float: left;
    padding-left: 15px;
}

#social-links img{
    height: 20px;
    width: 20px;
}

#lower-footer{
    height: 30px;
}

#social-links img:hover{
    transform: scale(1.2);
}

#upper-footer a:hover{
    font-weight: bold;
}

/* --------------- My work from here ------------------------- */

#books h2, #lectures h2 {
    color: var(--primary-color);
    font-size: x-large;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    text-decoration: underline;
    padding: 0em;
}

.information{
    margin: 4em 0.5em;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 1em;
    font-size: 10pt;
    overflow: hidden;
}

.information h3{
    color: white;
    font-size: large;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}

.information img{
    float: left;
    width: 12em;
    height: 15em;
    padding: 0.5em;
}

.information ul em{
    font-weight: bold;
    font-size: 11pt;
}

.information > p ~ p{
    font-size: 11pt;
    text-align: center;
}

.information > p ~ p a{
    text-decoration: none;
    color: black;
}

/*categories css*/

#title h2{
    color: white;
    font-size: x-large;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    text-decoration: underline;
    padding: 0em;
}

#title > h1{
    text-align: center;
}

.articlebox{
    border: 4px solid black;
    float: left;
    width: 450px;
    margin: 20px;
}

.articlebox > img{
    width: 435px;
    height: 250px;
}

.articlebox li{
    list-style-type: none;
    font-size: 1em;
    display: inline-block;  
    padding: 9px 15px;          
    margin: 5px;           
    background-color: lightgray;
    color: white;           
    border-radius: 8px; 
    font-weight: bold;
    text-align: center;
}

.articlebox ul li:nth-child(1) {
    background-color: red;
}

.articlebox ul li:nth-child(2) {
    background-color: rgb(255, 0, 187);
}

.articlebox ul li:nth-child(3) {
    background-color: rgb(79, 214, 79);
}

.articlebox ul li:nth-child(4) {
    background-color: rgb(249, 252, 80);
}

.articlebox li:nth-of-type(3){
    color:rgb(20, 14, 5);
}

.changecolorbox article:first-of-type{
    background-color: rgb(0, 179, 255);
}

.changecolorbox article:nth-of-type(3) {
    background-color: rgb(255, 162, 0);
}

.changecolorbox article:last-of-type {
    background-color: rgb(0, 255, 102);
}

#info-book{
    height: 700px;
}

#info-book > img{
    height: 600px;
    width: 450px;
    border: 2px solid black;
    float: left;
    margin-bottom: 50px;
}

.info-box {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 15px;             
    border-radius: 5px;         
    margin: 10px;     
    font-size: large; 
    float: left;
    margin-bottom: 40px;
}

.info-box > ul{
    font-size:x-large;
    text-align: center;
    color: rgb(232, 19, 19);
    list-style-type: none;
    padding: 30px;
}

.info-box li{
    line-height: 1.5em;
}

#chapter-table {
    width: 100%;                    
    border-collapse: collapse;      
    margin-top: 20px;          
}

#chapter-table caption {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    color: #333333; 
    caption-side: bottom;      
    text-align: center;        
}

#chapter-table th,
#chapter-table td {
    padding: 12px 15px;          
    text-align: left;        
}

#chapter-table td:first-child {
    text-align: center;          
    color: var(--primary-color);  
    font-weight: bold;        
}

#chapter-table th {
    background-color: var(--primary-color);;      
    color: white;                   
    font-weight: bold;
}

#chapter-table tr:nth-child(even) {
    background-color: #f2f2f2;      
}

#chapter-table tr:nth-child(odd) {
    background-color: #ffffff;
}

#chapter-table td a {
    color: var(--primary-color);              
    text-decoration: none;     
    font-weight: bold;
}

#chapter-table td a:hover {
    color: var(--primary-color);               
    text-decoration: underline;
}

#chapter-table th, #chapter-table td {
    border: 1px solid #dddddd;      
}

#chapter-table > thead > tr:first-child th{
    background-color: white;
    color: var(--primary-color);   
    text-align: center;
}

figure{
    text-align: center;
    font-style: italic;
}

table ~ article img{ /*μπορεί να το αλλάξω όταν πάω στην διάλεξη - images*/
    width: 400px;
    height: 230px;
    border: 1px solid black;
}

table ~ article  a, #info-book ~ a{
    color: var(--primary-color); 
    margin-top: 30px;
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: large;
}

table ~ article  a:hover, #info-book ~ a:hover {
    color: black; 
    font-weight: bold;
}


table ~ article > h3{
    color: var(--primary-color); 
    font-size: large;
    font-family: 'Roboto',sans-serif;
    margin-top: 30px;
}

.makeh1header h1 {
    text-align: center;
    font-size:30px; 
    font-weight:bold; 
    color: var(--primary-color); 
    letter-spacing:1px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}
    
.makeh1header h1:after,.makeh1header h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
    background-color:#f8f8f8;
}

.stars {
    color: gold;
    text-decoration: none;
}

.videos{
    width: 100%;
    height: 350px;
}

#imageofvideo > img{
    width: 470px;
    height: 500px;
}