/* Θέτουμε στην ψευδο-κλάση root τα χρώματα που θα χρησιμοποιήσουμε */
:root {
    --background-color: #fae5d3;
    --primary-color: #74282b;
    --about-us-color1: rgb(255, 128, 192);
    --about-us-color2: rgb(100, 149, 237);
    --categories-color1: rgb(0, 179, 255);
    --categories-color2: rgb(255, 162, 0);
    --categories-color3: rgb(0, 255, 102);
    --sub-categories-color1: red;
    --sub-categories-color2: rgb(255, 0, 187);
    --sub-categories-color3: rgb(79, 214, 79);
    --sub-categories-color4: rgb(249, 252, 80);
}

/* Θέτουμε στο body το background, το font και το margin καθε σελίδας */
body {
    margin: 0em;
    font-family: serif;
    background-color: var(--background-color);
}

/* Θέτουμε σε όλα τα λινκς χρώμα και υπογράμμιση, όταν το ποντίκι πηγαίνει επάνω */
.hover a:hover{
    color: white;
    text-decoration: underline !important;
}


/* Θέτουμε χρώμα και font για όλα τα header */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

/* Θέτουμε στο img του header όλων των σελίδων το background το padding και clear */
#aueb-header>img {
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(89, 12, 6));
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.5em;
    clear: both;
}

/* Θέτουμε στο logo του navigation (παιδί του nav) float ώστε να είναι αριστερά ύψος, πλάτος και border*/
nav>img {
    float: left;
    height: 4em;
    width: 4em;
    border: 2px solid rgb(89, 12, 6);
    margin: 0px;
}

/* Θέτουμε color,padding,margin για την λίστα (ul) του navigation bar */
.nav-style {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}

/* Θέτουμε χρώμα γραμμάτων, font και text-decoration για όλα τα a της λίστας (ul) του navigation bar  */
.nav-content a {
    color: white;
    text-decoration: none;
    font-size: small;
}

/* Θέτουμε σε όλα τα list items του της λίστας (ul) του navigation bar */
.nav-style li {
    list-style-type: none;
    background-color: rgb(89, 12, 6);
    border: 2px solid white;
    line-height: 4em;
    width: 12em;
    text-align: center;
    font-weight: bold;
}

/* Θέτουμε background color, χρώμα γραμμάτων, margin-top και clear στο footer κάθε σελίδας */
footer {
    background-color: #590c06;
    color: #fffbfb;
    clear: both;
    margin-top: 100px;
}

/* Το footer χωρίζεται σε 2 μέρη (upper/lower), αυτό είναι το upper  */
#upper-footer {
    margin: 0px;
    padding: 0px;
    height: 150px;
}

/* Το αριστερό κομμάτι του upper footer, το κάνουμε float αριστερά */
#office-info {
    float: left;
    width: 210px;
}

/* Θέτουμε τα h2 του footer margin, color και font size*/
footer h2 {
    font-size: 1.3em;
    color: #e0e0e0;
    margin: 0px;
}

/* Θέτουμε τα address που είναι αδέρφια του h2 (επόμενα) και βρίσκονται στο upper footer padding και font size*/
#upper-footer h2+address {
    padding: 10px 0px;
    font-size: 1em;
}

/* Θέτουμε στα <a> που βρίσκονται στο upper footer (παιδιά του) font size, color και text-decoration */
#upper-footer a {
    font-size: 1em;
    color: #e0e0e0;
    text-decoration: none;
}

/* Θέτουμε το div policies (upper footer) να είναι float left, padding left και text-align*/
#policies {
    float: left;
    text-align: center;
    padding-left: 5px;
}

/* Θέτουμε τις λίστες του footer padding, margin, text-align, list-style-type */
footer ul {
    padding: 0px 0px;
    list-style-type: none;
    margin: 0px;
    text-align: center;
}

/* Θέτουμε σε όλα  */
#policies a {
    width: 150px;
    height: 100px;
    margin: 0px;
}

/* Θέτουμε το div του footer που περιέχει τα social media links */
#social-links {
    float: left;
    padding-left: 15px;
}

/* Θέτουμε τις εικόνες που βρίσκονται μέσα στα social links (είναι απόγονοι) */
#social-links img {
    height: 20px;
    width: 20px;
}

/* Θέτουμε το height του lower footer */
#lower-footer {
    height: 30px;
}

/* Θέτουμε την μετατροπή στις εικόνες του social links όταν γίνονται hover */
#social-links img:hover {
    transform: scale(1.2);
}

/* Θέτουμε το hover σε όλα τα a του upper footer */
/* #upper-footer a:hover {
    text-decoration: underline;
} */

/**********************************************************/

/* Θέτουμε τον τίτλο h1 που υπάρχει σε κάθε σελίδα*/
.main-title h1 {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
    letter-spacing: 1px;
    text-align: center;
}

/* Δημιουργούμε 2 γραμμές πριν και μετά το main-title h1 για στυλιστικους λογους */
.main-title h1:after,
.main-title h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
    background-color: #f8f8f8;
}

/* Ο πίνακας των lecture και book έχει width, το border γινεται collapse και έχει ένα margin top */
#chapter-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Θέτουμε το caption του πίνακα */
#chapter-table caption {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    color: #333333;
    caption-side: bottom;
    text-align: center;
}

/* Θέτουμε τα table header και table data του πίνακα */
#chapter-table th,
#chapter-table td {
    padding: 12px 15px;
    text-align: left;
}

/* Θέτουμε την πρώτη στήλη με data του πίνακα  */
#chapter-table td:first-child {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}

/* Θέτουμε τα table header του πίνακα */
#chapter-table th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

/* Θέτουμε κάθε δεύτερη γραμμή του πίνακα (2,4,6,..) με ανοιχτό γκρι χρώμα */
#chapter-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Θέτουμε τις υπόλοιπες γραμμές του πίνακα (1,3,5,..) με λευκό χρώμα */
#chapter-table tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Θέτουμε τα a που είναι απόγονοι των table data -επίσης απόγονοι- του chapter table*/
#chapter-table td a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

/* Θέτουμε την ψευδοκλάση hover στα a που είναι απόγονοι του table data -επίσης απόγονοι- του chapter table  */
/* #chapter-table td a:hover {
    text-decoration: underline;
} */

/* Θέτουμε τα th και td του chapter table */
#chapter-table th,
#chapter-table td {
    border: 1px solid #dddddd;
}

/* Θέτουμε χρώμα και θέση για τον τίτλο του πίνακα της διάλεξης*/
#chapter-table>thead>tr:first-child th {
    background-color: white;
    color: var(--primary-color);
    text-align: center;
}

/* Θέτουμε τα αστέρια της αξιολόγησης των βιβλίων και των διαλέξεων */
.stars {
    color: gold;
    text-decoration: none;
}

/* Θέτουμε το index-info-box το οποίο αποτελεί ένα container για το κείμενο της αρχικής σελίδας  */
.index-info-box {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    font-size: large;
    float: left;
    margin-bottom: 40px;
}

/* Κλάση about-us για τα article που περιέχουν τα στοιχεία */
.about-us {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    font-size: large;
    float: left;
    margin-bottom: 40px;
}

/* Θέτουμε το text-align για τα h2 των about-us */
.about-us h2 {
    text-align: center;
}

/* Θέτουμε τα p που είναι απόγονοι των about-us */
.about-us p {
    margin-top: 3em;
}

/* Το about-card αποτελεί κλάση για ένα div (container) το οποίο έχει 2 όψεις. Από τη μία πλευρά βρίσκεται η εικόνα και από την 
άλλη τα social media */
.about-card {
    overflow: hidden;
    padding: 0.4rem;
    width: 10rem;
    height: 15rem;
    float: left;
}

/* Το εσωτερικό του about-card. Κλάση για div που είναι παιδί του about-card. Θέτουμε width, height, 
3d transform-style και transition time */
.about-card-inside {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 2s;
}

/* Θέτουμε about-card-inside να κάνει rotate στον άξονα y όταν γίνεται hover το about-card*/
.about-card:hover .about-card-inside {
    transform: rotateY(180deg);
}

/* Θέτουμε τις δύο όψεις του about-card front και back */
.about-card-front,
.about-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    transition: transform 0.6s;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

/* Θέτουμε την μπροστά όψη του about-card */
.about-card-front {
    transform: rotateY(0deg);
}

/* Θέτουμε την πίσω όψη του about-card */
.about-card-back {
    border: solid 2px white;
    border-radius: 1rem;
    transform: rotateY(180deg);
}

/* Θέτουμε την εικόνα που είναι απόγονος του about-card-front */
.about-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

/* Θέτουμε τη λίστα που είναι απόγονος του about-card (λίστα με links) */
.about-card ul {
    list-style-type: none;
    padding: 1em;
    text-align: center;
}

/* Θέτουμε τα a που είναι απόγονοι του ul -επίσης απόγονοι- του about-card*/
.about-card ul a {
    text-decoration: none;
    color: white;
    font-size: 11pt;
}

/* Θέτουμε το h3 που είναι απόγονος του about-card */
.about-card h3 {
    text-decoration: underline;
    text-align: center;
    font-size: 13pt;
    color: white;
    position: absolute;
    top: 0.5em
}

/* Αλλαγή του χρώματος του 1ου article */
.about-us:first-of-type {
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 192, 235), rgb(255, 128, 192), rgb(180, 120, 200));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Αλλαγή του χρώματος του 2ου article */
.about-us:last-of-type {
    background: linear-gradient(to left, rgb(240, 248, 255), rgb(173, 216, 230), rgb(100, 149, 237), rgb(70, 130, 180));
}

/* Αλλαγή του χρώματος της πίσω όψης του about-card 2ου article */
.about-us .about-card-back {
    background-color: var(--about-us-color1);
}

/* Αλλαγή του χρώματος της πίσω όψης του about-card 2ου article */
.about-us:last-of-type .about-card-back {
    background-color: var(--about-us-color2);
}


/* Θέτουμε τα h2 για τα header με id books και lectures */
#books h2,
#lectures h2 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    padding: 0em;
}

/* Κλάση για τα article των βιβλίων */
#info-book {
    height: 700px;
}

/* Θέτουμε την εικόνα που είναι παιδί του info-book */
#info-book>img {
    height: 600px;
    width: 450px;
    border: 2px solid black;
    float: left;
    margin-bottom: 50px;
}

/* Θέτουμε το div με class book-lecture-information το οποίο περιέχει τις πληροφορίες των βιβλίων και των lecture */
.book-lecture-information {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    font-size: large;
    float: left;
    margin-bottom: 40px;
}

/* Θέτουμε τα ul που είναι παιδιά του book-lecture-information */
.book-lecture-information>ul {
    font-size: x-large;
    text-align: center;
    color: rgb(232, 19, 19);
    list-style-type: none;
    padding: 30px;
}

/* Θέτουμε τα list items που είναι απόγονοι του book-lecture-information */
.book-lecture-information li {
    line-height: 1.5em;
}

/* Θέτουμε τα figure που βρίσκονται στις σελίδες με το lecture και το book */
figure {
    text-align: center;
    font-style: italic;
}

/* Θέτουμε τις εικόνες που είναι απόγονοι του article, τα οποία είναι αδέρφια element με id books */
#books~article img {
    width: 400px;
    height: 230px;
    border: 1px solid black;
}

/* Θέτουμε τα a που το href ξεκινάει με #chapter, είτε ξεκινάει με #table και τα a που είναι αδέρφια element με id 
info-book είτε με id info-lecture */
a[href^="#chapter"],
a[href^="#table"],
#books~a,
#lectures~a {
    color: var(--primary-color);
    margin-top: 30px;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: large;
    text-decoration: none;
}

/* Θέτουμε την ψευδοκλάση hover στα a που αναφέρθηκαν παραπάνω */
a[href^="#chapter"]:hover,
a[href^="#table"]:hover,
#books~a:hover,
#lectures~a :hover {
    color:var(--primary-color);
}

/* Θέτουμε τα h3 που είναι παιδιά του article, τα οποία είναι αδέρφια element με id books */
#books~article>h3 {
    color: var(--primary-color);
    font-size: large;
    margin-top: 30px;
}

/* Κλάση για τα article των lecture */
#info-lecture {
    height: 700px;
}

/* Θέτουμε την img που είναι παιδί element με id info lectures */
#info-lecture>img {
    height: 600px;
    width: 450px;
    border: 2px solid black;
    float: left;
    margin-bottom: 50px;
}

/* Κλάση videos για τα lectures */
.videos {
    width: 100%;
    height: 350px;
}

/* Θέτουμε την εικονα του lecture */
#imageofvideo>img {
    width: 470px;
    height: 500px;
    border: 1px solid black;
}

/* Κλάση για τα articles της σελίδας με τις κατηγορίες */
.categories-info {
    margin: 4em 0.5em;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 1em;
    font-size: 10pt;
    overflow: hidden;
}

/* Θέτουμε τις εικόνες των κατηγοριών */
.categories-info img {
    float: left;
    width: 435px;
    height: 250px;
    padding: 0.5em;
}

/* Θέτουμε την λίστα με τις υποκατηγορίες της κάθε κατηγορίας μαθημάτων */
.categories-info>ul {
    margin-left: 10rem;
}

/* Θέτουμε τα a των κατηγοριών */
.categories-info a {
    text-decoration: none;
    color: black;
}

/* Θέτουμε την ψευδοκλάση hover σε κάθε a των κατηγοριών */
/* .categories-info a:hover {
    text-decoration: underline;
    color: white;
} */

/* Θέτουμε το articlebox, μία κλάση για τα articles των categories */
.articlebox {
    border: 4px solid black;
    float: left;
    width: 450px;
    margin: 20px;
}

/* θετουμε τα h2 που είναι παιδιά των articlebox */
.articlebox>h2 {
    color: white;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    padding: 0em;
}

/* Θέτουμε τα list items που είναι απόγονοι των articlebox */
.articlebox li {
    list-style-type: none;
    font-size: 1em;
    display: inline-block;
    padding: 9px 15px;
    margin: 5px;
    background-color: lightgray;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

/* Θέτουμε το χρώμα στα articlebox και στα list items τους */
.articlebox ul li:nth-child(1) {
    background-color: var(--sub-categories-color1);
}

.articlebox ul li:nth-child(2) {
    background-color: var(--sub-categories-color2);
}

.articlebox ul li:nth-child(3) {
    background-color: var(--sub-categories-color3);
}

.articlebox ul li:nth-child(4) {
    background-color: var(--sub-categories-color4);
}

.articlebox li:nth-of-type(3) {
    color: rgb(20, 14, 5);
}

/* Θέτουμε marginleft στα ul που ειναι παιδιά των articlebox */
.articlebox>ul {
    margin-left: 0rem;
}

/* Θέτουμε κάθε πλαίσιο του μαθήματος με διαφορετικό χρώμα */
.articlebox~article:nth-of-type(2) {
    background-color: var(--categories-color1);
}

.articlebox~article:nth-of-type(3) {
    background-color: var(--categories-color2);
}

.articlebox~article:last-of-type {
    background-color: var(--categories-color3);
}

/* Θέτουμε το h2 που είναι απόγονοι element με κλαση lesson */
.lesson h2 {
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    padding: 0em;
    color: white;
}

/* Θέτουμε τα p που περιέχουν το link σε καθε βιβλίο-διάλεξη. Τα p αυτα είναι τα τελευταία p που βρίσκονται μέσα σε article (απόγονοι) 
που είναι παιδιά element με class lesson-box */
.lesson-box>article p:last-of-type {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: var(--primary-color);
    padding: 0px;
    border-radius: 5px;
    margin: 10px;
    font-size: medium;
    margin-bottom: 40px;
    text-align: center;
}

/* Θέτουμε color και text decoration στα link προς το βιβλίο-διάλεξη */
.lesson-box>article p:last-of-type a {
    color: white;
    text-decoration: none;
}

/* Θέτουμε τη hover ψευδο-κλάση στα a που αναφέρθηκαν */
/* .lesson-box>article p:last-of-type a:hover {
    text-decoration: underline;
} */

/* Κλάση lesson box περιέχει τα βιβλία και τις διαλέξεις */
.lesson-box {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin: 0.3em;
    font-size: large;
    float: left;
    margin-bottom: 40px;
    background-color: var(--primary-color);
}

/* Κλάση για τα article των μαθημάτων */
.information {
    margin: 4em 0.5em;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 1em;
    font-size: 10pt;
    overflow: hidden;
}

/* Θέτουμε το h3 που είναι απόγονοι element με κλάση information */
.information h3 {
    color: var(--primary-color);
    font-size: large;
    text-align: center;
}

/* Θέτουμε το img που είναι απόγονοι element με κλάση information */
.information img {
    float: left;
    width: 12em;
    height: 15em;
    padding: 0%;
}

/* Θέτουμε το em που είναι απόγονος του ul, το οποίο είναι απόγονος element με κλάση information */
.information ul em {
    font-weight: bold;
    font-size: 11pt;
}

/* Θέτουμε το ul που είναι παιδί element με κλάση information και περιέχει τις πληροφορίες των βιβλίων-μαθημάτων */
.information>ul {
    margin-left: 10rem;

}

/* Θέτουμε το p που είναι παιδί element με κλάση information και περιέχει την περιγραφή των βιβλίων-μαθημάτων */
.information>p {
    margin-top: 2em;
}

/* Θέτουμε το μέγεθος και την θέση των παραγράφων που ανήκουν στην κλάση information και έχουν αδέρφια άλλες παραγράφους*/
.information p~p {
    font-size: 11pt;
    text-align: center;
}

/* Κλάση για το details που περιέχει την εικόνα και τις πληροφορίες του βιβλίου-διάλεξης*/
.lesson-container {
    max-width: 470px;
    position: relative;
}

/* Κλάση για το μήνυμα που εφμανίζεται πάνω από την εικόνα. Το θέλουμε σταθερό στο κέντρο και να μην αλλάζει όταν το detail 
γίνεται open */
.lesson-cover {             
    position: relative;
    color: #333;
}

/* Θέτουμε την εικόνα για το βιβλίο-διάλεξη */
.lesson-image>img {
    max-width: 100%;
    transition: opacity 0.6s ease;
    width: 470px;
    height: 636px;
}

/* Θέτουμε το πλαίσιο για την κάθε διάλεξη και για το κάθε βιβλίο στα 2 μαθήματα*/
.info-box {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 0px;           
    border-radius: 5px;
    margin: 10px;
    font-size: medium;
    float: left;
    margin-bottom: 40px;
    text-align: center;
}

/* Το μήνυμα που εμφανίζεται πάνω από την εικόνα όταν την κάνουμε hover */
.hover-message-book-lecture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

/* Θέτουμε το opacity για την εμφάνιση του μηνύματος όταν γίνεται hover η εικόνα */
.lesson-image:hover .hover-message-book-lecture {
    opacity: 1;
}

/* Θέτουμε την ψευδοκλάση hover για τα a που περιέχει η πίσω όψη του about card */
/* .about-card-back a:hover{
    text-decoration: underline;
} */


/********************************************************/