body{
    margin: 0em;
    font-family: 'Roboto';
}

#aueb-header  > img{
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(89, 12, 6));
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.5em;
    clear: both;
}

nav > img{
    float: left;
    height: 5em;
    width: 5em;
    border: 2px solid rgb(89, 12, 6);
}

.nav-style{
    background-color: rgb(255, 255, 255);
}

.nav-content  a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-style li{
    list-style-type: none;
    background-color: rgb(89, 12, 6);
    border: 1px solid white;
    line-height: 2em;
    width: 15em;
}
